<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular 第二课程</title>
    <script src="../js/angular.js" type="text/javascript"></script>
</head>
<body ng-app="app" ng-init="name='上海';count=5;price=100;points=[2,5,6,2,7]">
<p>绑定数据到元素</p>
<p>请输入姓名：<input ng-model="name" type="text"></p>
<p>{{name}}</p>
总价格{{count*price|currency}}
<div>
    {{"数量"+count+"价格"+(price|currency)}}
</div>
<div>{{"数组第3个是"+points[2]}}</div>
<div ng-controller="MyController">
    {{"用户："+Person.name+"密码："+Person.password}}
</div>
<ul ng-controller="MyController">
    <li ng-repeat="x in students">
        {{"我的名字是："+x.name+"今年"+x.age+"岁"}}
    </li>
</ul>
<p>城市列表</p>
<ul ng-controller="weatherController">
    <li ng-repeat="x in cities | orderBy:'district_cn'">
        {{x.province_cn+x.name_cn+x.district_cn}}
    </li>
</ul>
<script>
    var app = angular.module("app", []);
    app.run(["$rootScope", function ($rootScope) {
        $rootScope.ll = 'sb';
    }]);
    app.controller("MyController", function ($scope, $rootScope) {
        $scope.Person = {
            name: '小美',
            password: "1234"
        }
        $scope.students = [
            {
                name: $rootScope.ll,
                age: 12
            },
            {
                name: "小四",
                age: 25
            }
        ]
    });
    app.controller("weatherController", ['$scope', "$http", function ($scope, $http) {
        $scope.key = "3de2e5d50814460f2d0be46c2746b8a6";
        $scope.city = $scope.name;
        $scope.url = "http://apis.baidu.com/apistore/weatherservice/citylist?cityname=" + $scope.city;
        $scope.request = {
            headers: {"apikey": $scope.key}
        };
        $scope.cityf = function () {
            return $scope.name;
        }
        var watch = $scope.$watch($scope.cityf, function (newVal, oldVal) {
            if (newVal != oldVal) {
                $scope.url = "http://apis.baidu.com/apistore/weatherservice/citylist?cityname=" + newVal;
                $http.get($scope.url, $scope.request).success(function (data, status, headers, config) {
                    $scope.cities = data.retData;
                }).error(function (data, status, headers, config) {

                });
            }

        });
//        $http.get($scope.url, $scope.request).success(function (data, status, headers, config) {
//            $scope.cities = data.retData;
//        }).error(function (data, status, headers, config) {
//
//        });

    }]);
</script>
</body>
</html>